* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #0E373D ;
    color: #fff;
    height: 5rem;
    line-height: 2.5em;
}

.choice {
    height: 130px;
    width: 130px;
     border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 

}
.choice:hover {  
    cursor: pointer;
    background-color: #000000;
    
}

img {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 5rem;
}

#user-score,
#comp-score{
    font-size: 3rem;
}

.msg-container {
    margin-top: 4rem;
}

#msg {
    background-color: #0E373D ;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}